:root {
  --width-icon: 1.7rem;
}

.classWeatherCondition {
  color: white;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherMoonIcon {
  color: white;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherTemperatureLow {
  color: blue;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherTemperatureMedium {
  color: yellow;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherTemperatureHot {
  color: red;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherHumidityIcon {
  color: aqua;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherWindIcon {
  color: white;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherWindDirectionIcon {
  color: blue;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherLunarIcon {
  color: white;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherSunriseIcon {
  color: yellow;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherSunsetIcon {
  color: orange;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherMoonriseIcon {
  color: yellow;
  width: var(--width-icon);
  height: 2.5rem;
}

.classWeatherMoonsetIcon {
  color: orange;
  width: var(--width-icon);
  height: 2.5rem;
}
