.section-about {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Exo 2", sans-serif;
}

.about-card-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.about-card-carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel .control-dots .dot {
  background: yellow;
}

.carousel .control-prev.control-arrow:before {
  content: "";
  border: solid yellow;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  margin-top: 100px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel .control-next.control-arrow:before {
  content: "";
  border: solid yellow;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  margin-top: 100px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.carousel .control-next.control-arrow {
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.carousel .control-next.control-arrow:hover {
  background: transparent;
}

.carousel .control-prev.control-arrow {
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.carousel .control-prev.control-arrow:hover {
  background: transparent;
}
