.cardAbout {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardAbout-img {
    width: 40vw;
    height: 15vh;
    border-radius: 10px;
}

.cardAbout-title {
    color: white;
    opacity: 70%;
    font-size: 1rem;
}

.cardAbout-text {
    width: 100%;
    text-align: center;
    color: white;
    opacity: 40%;
    font-size: 0.8rem;
}