.cardAbout {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.cardAbout-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.cardAbout-title {
    color: white;
    opacity: 70%;
    font-size: 1rem;
    margin: 2vw ;
}

.cardAbout-text {
    width: 100%;
    text-align: center;
    color: white;
    opacity: 40%;
    font-size: 0.8rem;
}
