.cardAbout {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classAboutTitle {
    color: yellow;
    opacity: 70%;
    font-size: 1rem;
    margin: 2vw ;
    margin-bottom: 10vw;
}

.cardAbout-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.classAboutText {
    width: 90%;
    text-align: center;
    color: white;
    opacity: 40%;
    font-size: 1rem;
    margin-top: 10vh;
}
