.section-observatoire {
  display: flex;
  justify-content: center;
  height: auto;
  text-align: center;
}

.observatoire-title {
  color: white;
  font-family: "Exo 2", sans-serif;
  text-align: center;
}

.observatoire-paragraph {
  color: white;
  height: auto;
  width: 90%;
  font-family: "Exo 2", sans-serif;
  text-align: justify;
  opacity: 60%;
}
