.section-observatoire {
    width: 90%;
}

.observatoire-title {
    color: white;
    font-family: "Exo 2", sans-serif;
    text-align: center;
}

.observatoire-paragraph {
    color: white;
    font-family: "Exo 2", sans-serif;
    text-align: justify;
    opacity: 60%;
}