.section-contact {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.classContactMap {
  height: 14rem;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 3vh;
}

.contact-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 4rem;
}

.contact-methods {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.contact-mail {
  color: yellow;
  display: flex;
  gap: 5px;
}

.classContactParagraph {
  margin-bottom: 2vh;
}

.classContactFacebook {
  color: yellow;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.classContactFacebookIcon {
  color: yellow;
  font-size: 1.2rem;
}
