.card-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-event-border {
  width: 90vw;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.card-event-past-date {
  border: solid red 1px;}

.card-event-future-date {
  border: solid green 1px;
}

.card-event-subcontainer {
    margin-left: 10px;
    margin-right: 10px;
}

.card-event-date-title {
  display: flex;
  justify-content: space-around;
}

.card-event-date {
    color: white;
    opacity: 50%;
    font-size: 0.75rem;
}

.card-event-titles {
  color: yellow;
  font-size: 1rem;
}

.card-event-description {
  color: white;
  opacity: 50%;
}

.card-event-site-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
}


















.cardEventDateTitleMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}





.cardEventSiteText {
  color: white;
  opacity: 70%;
}
