.card-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-event-border {
  width: 90vw;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.card-event-past-date {
  border: dotted red 1px;
}

.card-event-future-date {
  border: dotted green 1px;
}

.card-event-subcontainer {
  margin-left: 10px;
  margin-right: 10px;
}

.card-event-date-title {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.card-event-date {
  color: white;
  opacity: 50%;
  font-size: 0.75rem;
}

.card-event-titles {
  color: yellow;
  font-size: 1rem;
}

.card-event-description {
  color: white;
  opacity: 50%;
}

.card-event-site-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
}

.card-event-button-event-delete {
  width: 3rem;
  background-color: transparent;
  border: none;
}

.card-event-button-event-edit {
  width: 3rem;
  background-color: transparent;
  border: none;
}

.card-event-block-buttons {
  display: flex;
  justify-content: end;
}

.cardEventDateTitleMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardEventSiteText {
  color: white;
  opacity: 70%;
}
