.footer {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.footer-informations {
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 40%;
    align-items: center;
    font-size: 0.8rem;
}

.footer-button-login {
    background: blue;
    color: white;
    font-size: 1rem;
}

.footer-button-logout {
    background: red;
    color: white;
    font-size: 1rem;
}