.classHeaderLogoTitle {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-bottom: 2vh;
}

.classHeaderImg {
  height: 25vh;
  margin-top: 1.4vh;
  z-index: 99999;
}

.classHeaderTitle {
  font-size: 1.25rem;
  font-family: "Exo 2", sans-serif;
  background: -webkit-linear-gradient(#fffc08, #575506);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.classHeaderSubtitle {
  color: white;
  font-family: "Exo 2", sans-serif;
  opacity: 50%;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 500;
}

.classHeaderImgWeatherContainer {
  display: block;
  position: relative;
  text-align: center;
}

.classHeaderSkyOfMonthButton {
  border: none;
  font-size: 1rem;
  position: relative;
  background: transparent;
  color: #fffc08;
  text-transform: uppercase;
  border: 2px solid #fffc08;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
  width: 40vw;
  height: 10vh;
}

.classHeaderSkyOfMonthButton:hover {
  color: black;
}
.spaned {
  transition: all 0.7s;
  z-index: -1;
}

.classHeaderSkyOfMonthButton .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #ffa500;
}

.classHeaderSkyOfMonthButton:hover .first {
  top: 0;
  right: 0;
}

.classHeaderSkyOfMonthButton .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #ffa500;
}

.classHeaderSkyOfMonthButton:hover .second {
  top: 0;
  left: 50%;
}

.classHeaderSkyOfMonthButton .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: #ffa500;
}

.classHeaderSkyOfMonthButton:hover .third {
  top: 0;
  left: 25%;
}

.classHeaderSkyOfMonthButton .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #ffa500;
}

.classHeaderSkyOfMonthButton:hover .fourth {
  top: 0;
  left: 0;
}
