.card-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-user {
  width: 90vw;
  margin-bottom: 0.25rem;
  background-color: rgba(0, 255, 255, 0.1);
  border-radius: 20px;
  padding: 0.25rem;
  font-family: "Exo 2", sans-serif;
  color: white;
}

.card-user-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.card-user-division {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card-user-datas {
  color: white;
  opacity: 70%;
  padding-left: 0.75rem;
}

.card-user-button-modify-user {
  background: blue;
}

.card-user-button-cancel {
  background: blue;
}

.card-user-button-user-delete {
  width: 3rem;
  background-color: transparent;
  border: none;
}

.card-user-button-user-edit {
  width: 3rem;
  background-color: transparent;
  border: none;
}

.card-user-button-user {
  width: 2rem;
}

.card-user-mail {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
}

.card-user-role {
  display: flex;
  align-items: center;
  margin: 0;
}

.card-user-prenom {
  display: flex;
  align-items: center;
}

.card-user-block-buttons {
  display: flex;
  justify-content: end;
}
