.user-administration-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.user-administration-title {
    color: white;
    font-family: "Exo 2", sans-serif;
    font-size: 2rem;
}

.user-administration-button-add-container {
    display: flex;
    padding: 1rem;
    align-self: flex-start;
}

.user-administration-button-add {
    width: 4rem;
    background-color: transparent;
    border: none;
}

.user-administration-button-save {
    background: blue;
}

.user-administration-button-close {
    background: blue;
}

.user-administration-button-add-svg {
    width: 3rem;
}